/* Garante que a página ocupe 100% da altura */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("https://i.postimg.cc/TY28jTqJ/bg4-ia.jpg") no-repeat center
    center fixed;
  background-size: cover;
  font-family: "Gabarito", sans-serif;
  margin: 30px;
}

.logo {
  text-align: end;
}

.logo img {
  width: 40%;
}

/* Caixa principal do jogo */
.conteudo-jogo {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px #ff1b7b;
  margin: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.conteudo-jogo:hover {
  background: rgba(0, 0, 0);
  box-shadow: 0 0 5px #19caca;
}

/* Títulos e textos */
h2,
p {
  color: white;
}

/* Button Styles */
button {
  background-color: #ff1b7b;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #1abc9c;
}
